.layout {
    height: 100%;
    background-color: white;
}
.content{
    height: 90%;
    margin-left: 1rem;
    width: 109%;
    border: 1px solid #ccc;
}
.pinkbar{
    background: linear-gradient(to right, #c3428d, #FFFFFF);
    padding: 0rem;
    margin: 0rem 0rem 1rem 0rem;
    height: 3rem;
}
.descriptionbox{
    margin-top:2rem;
    margin-left: 1rem;
    width: 96%;
    height: 8rem;
}
.displayBoxContainer .displayCard > div{
    padding: 1px;
    width: 15rem;
    height: 5rem;
    left: 1.5rem;
    margin-right: 3rem;
    width: 25%;
    height: 0%;
    left: 1%;
    margin-left: 3%;
    border: 1px solid black;
}