.outerbox {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    width: 168px;
    height: 89px;
    margin-top: 13px;
    margin-right: 12px;
    margin-left: 21px;
}
 .innerleft {
  height: 100px;
 
  width: 100px;
  border-right: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
}
/* .innerright {
 
  margin-left: 60px;
}
 */