.innerBox{
    
    height: 100px;
 
  width: 100px;
  border-right: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
}
.img{
    border-bottom:  0.0625rem solid rgb(207, 203, 203);
 padding-bottom: 17px;
 
}