
  .customTextArea{
     border: 1px solid rgb(148, 144, 144) ;
     border-Radius: '4px',
  }
  .mybutton {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 30%;
   background-color: #7E60BC;
   left: 3rem ;
   margin-left: 1rem;
    margin-bottom: 1rem;
   
 }
 .contentStyle{
   text-align:center;
   min-height: 50px;
   color: #000;
   border-right:1px solid #b4b1b1;
   background-color:#fff;
}