.space {
  width: 100%;
  height: 100%;
  background-color: white;
}
.textAreaerror {
  border-color: red;
}
.layout {
  height: 100%;
  background-color: white;
}

.buttonAreaBorder {
  color: rgb(133, 130, 130);
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 1rem;
  max-width: 16.5rem;
  flex-direction: row;
  padding-left: 1.5rem;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
}
.textAreaBorder {
  color: rgb(133, 130, 130);
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 1rem;
}

.contentStyle {
  text-align: center;
  min-height: 500px;
  color: #000;
  border-right: 1px solid #b4b1b1;
  background-color: #fff;
}
.content {
  margin-left: 5rem;
  display: block;
  width: 100px;
  height: 100px;
}
.sideButtons {
  min-height: 350px;
  color: rgb(133, 130, 130);
  border-right: 1px solid #ccc;
  background-color: #fff;
  padding-right: 10px;
}
.icon {
  font-size: small;
}
.custom{
  border: 1px solid grey ;
border-radius: 1px;
height: 2rem;
}
.red{
  border: 1px solid red ;
}
.buttonImage
{
  width: 3rem;
   height: 3.5rem;
   margin-left: 6rem;
   border-bottom: 1px solid #ccc;
   padding:0.5rem;
}