
.outerbox {
  width: 24rem;
  display: block;
  max-height: 16rem;
  margin-left: 1rem;
  margin-top: 1rem;
  justify-content: inherit;
  align-items: center;
  margin-bottom: 1rem;
  color: grey;
}
.innerBox1 {
  background-color: white;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #efebeb;
  box-shadow: 0px 0.3rem 0.3rem -0.3rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  width: 24rem;
  max-height: 2rem;
  align-content: center;
  justify-content: center;
  font-weight: 500;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.innerBox2 {
  background-color: white;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #efebeb;
  box-shadow: 0px 0.3rem 0.3rem -0.3rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  width: 24rem;
  min-height: 14rem;
  justify-content: center;
  font-weight: bold;
  color: rgb(91, 90, 90);
  font-size: smaller;
}
.chartcontainer {
   margin-top: -2rem; /* or any value that moves the chart up */
}
.heading {
  font-size: small;
  margin-inline-end: auto;
  margin-block-end: auto;
  margin-left: 1rem;
}
.outerbox2 {
  border-radius: 0.3125rem;
  border: 0.0625rem solid #efebeb;    
    display: block;  
    margin-left: 1rem;
    margin-top: 1rem;
    justify-content: inherit;
    align-items: center;
    margin-bottom: 1rem;
    color:grey;
    width: 34rem;
 
  }
  .innerBox21 { 
    background-color: white;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #efebeb;
    position: relative;
    overflow: hidden;
    width: 34rem;
    max-height: 2rem;
    align-content: center;
    justify-content: center;
    font-weight: 500;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .innerBox22 {
    background-color: white; 
    position: relative;
    overflow: hidden;
    width: 11rem;
    min-height: 14rem;
    justify-content: center;
    font-weight: bold;
    color: rgb(91, 90, 90);
    font-size: smaller;
     float:left; 
     margin-top: 1rem;
  }
  /* .piechartbox{
    background-color: white;
    position: relative;
    overflow: hidden;
    width: 21rem;
    margin-top: 0.5rem;
    justify-content: center;
    font-weight: bold;
    color: rgb(91, 90, 90);
    font-size: smaller;
  } */
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }