

  .mybutton {  

   align-items: center;
   width: 30%;
   background-color: #7E60BC;
   margin-left: 1rem;
    margin-bottom: 1rem;
    width: 7rem;
    font-size: 0.6rem;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
 }
 .icon{
  font-size: small;
}
.buttonAreaBorder{
  color: rgb(133, 130, 130);
  border-bottom:1px solid #ccc;
  background-color:#fff;
  margin-bottom: 1rem;
 max-width: 16.5rem;
 flex-direction: row;  
}